.fixedUp {
      position: fixed;
      width: 100%;
      line-height: 60px;
      z-index: 8;
}
nav ul {
      line-height: 60px;
      list-style: none;
      background: rgba(0, 0, 0, 0);
      overflow: hidden;
      color: #fff;
      padding: 0;
      text-align: right;
      margin: 0;
      padding-right: 40px;
      transition: 1s;
}
.darkColor {
  background: #1e1e1e !important
}

.darkColor ul {
  background: #1e1e1e;
}

nav ul li {
      display: inline-block;
      padding: 16px 40px;;
}
nav ul li a {
      text-decoration: none;
      color: #f1f1f1;
      font-size: 16px;
}

nav ul li a:hover {
      text-decoration: none;
      color: #a75806;
      font-size: 16px;
}
